@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Text", serif;
}
p,
span,
a,
label {
  font-family: "Lato", sans-serif;
}
::selection {
  background: #432c7a;
  color: white;
}
